:root {
  --clr-primary: hsl(25, 97%, 53%); /* Orange */
  --clr-secondary: hsl(213deg, 20%, 22%); /* Secondary */

  --clr-white: hsl(0, 0%, 100%); /* White */
  --clr-light-grey: hsl(217, 12%, 63%); /* Light Grey */
  --clr-medium-grey: hsl(216, 12%, 54%); /* Medium Grey */
  --clr-dark-blue: hsl(213, 19%, 18%); /* Dark Blue */
  --clr-very-dark-blue: hsl(216, 12%, 8%); /* Very Dark Blue */

  --ff-base: "Overpass", san-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-base);
}

body {
  background-color: var(--clr-very-dark-blue);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 35rem;
  padding: 2.8rem;
  background-color: var(--clr-dark-blue);
  border-radius: 3.2rem;

  /* display: flex;
  flex-direction: column;
  gap: 3.2rem; */
}

/* @media (max-width: 375px) {
  .wrapper {
    margin: 0 2.4rem;
  }

  .container {
    max-width: 35rem;
    padding: 2.4rem;
  }

  .text-content .description {
    font-size: 1.4rem;
  }
} */

.icon {
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secondary);
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.title {
  color: var(--clr-white);
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
}

.description {
  color: var(--clr-light-grey);
  line-height: 1.6;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.ratings span {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: var(--clr-secondary);
  color: var(--clr-light-grey);
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ratings span:hover {
  background-color: var(--clr-light-grey);
  color: var(--white);
}

.button {
  width: 100%;
  padding: 1.2rem 3.2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-size: 1.3rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

.hidden {
  display: none;
}

.thank_section {
  text-align: center;
}

.thank_section img {
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}

.chip {
  background-color: var(--clr-secondary);
  padding: 0.4rem 1.6rem;
  border-radius: 50px;
  color: var(--clr-primary);
  width: fit-content;
  font-size: 1.3rem;
  margin-bottom: 3.2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-light-grey);
}

.attribution a {
  color: var(--clr-primary);
}
