:root {
  --clr-primary: hsl(25, 97%, 53%); /* Orange */
  --clr-secondary: hsl(213deg, 20%, 22%); /* Secondary */

  --clr-neutral-000: hsl(0, 0%, 100%); /* White */
  --clr-neutral-300: hsl(217, 12%, 63%); /* Light Grey */
  --clr-neutral-400: hsl(216, 12%, 54%); /* Medium Grey */
  --clr-neutral-500: hsl(213, 19%, 18%); /* Dark Blue */
  --clr-neutral-600: hsl(216, 12%, 8%); /* Very Dark Blue */

  --ff-base: "Overpass", san-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-base);
}

body {
  font-size: 1.5rem;
  background-color: var(--clr-neutral-600);
}

.wrapper {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 40rem;
  padding: 3.2rem;
  background-color: var(--clr-neutral-500);
  border-radius: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.icon {
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-600);
  border-radius: 50%;
}

.title {
  color: var(--clr-neutral-000);
  margin-bottom: 1rem;
}

.description {
  color: var(--clr-neutral-300);
}

.ratings {
  display: flex;
  justify-content: space-between;
}

span {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100%;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--clr-primary-400);
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
