:root {
  --clr-primary: hsl(25, 97%, 53%); /* Orange */
  --clr-secondary: hsl(213deg, 20%, 22%); /* Secondary */

  --clr-white: hsl(0, 0%, 100%); /* White */
  --clr-light-grey: hsl(217, 12%, 63%); /* Light Grey */
  --clr-medium-grey: hsl(216, 12%, 54%); /* Medium Grey */
  --clr-dark-blue: hsl(213, 19%, 18%); /* Dark Blue */
  --clr-very-dark-blue: hsl(216, 12%, 8%); /* Very Dark Blue */

  --ff-base: "Overpass", san-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-base);
}

body {
  font-size: 1.5rem;
  background-color: var(--clr-very-dark-blue);
}

.wrapper {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3.2rem;
}

.container {
  max-width: 40rem;
  padding: 3.2rem;
  background-color: var(--clr-dark-blue);
  border-radius: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

@media (max-width: 375px) {
  .wrapper {
    margin: 0 2.4rem;
  }

  .container {
    max-width: 35rem;
    padding: 2.4rem;
  }

  .text-content .description {
    font-size: 1.4rem;
  }
}

.icon {
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secondary);
  border-radius: 50%;
}

.title {
  color: var(--clr-white);
  margin-bottom: 0.8rem;
}

.description {
  color: var(--clr-light-grey);
  font-size: 1.5rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

span {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--clr-secondary);
  color: var(--clr-light-grey);

  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100%;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-light-grey);
}

.attribution a {
  color: var(--clr-primary);
}
